#pizzaPics1.visible
  img#pizza(src='pizza.jpg', alt='picture of a pizza.')
#top1.visible
  h3#title 2017 PIZZA CHAMPION:
  h3#winnerName #{winnerName}
  h4#pizzaCount PIZZA CONSUMED: #{winnerCount} / #{winnerCountYR} per year
  p#ovenTime.stats OVEN TIME: #{winnerOvenTime} MINUTES / #{winnerOvenTimeYR} minutes per year
  p#moneySpent.stats COST OF PIZZA: $#{winnerDollars} / $#{winnerDOllarYR} per year
  p#caloriesConsumed.stats CALORIES CONSUMED: #{winnerCal} CAL / #{winnerCalYR} calories per year
  p#winnerRate.stats PIZZA RATE: #{winnerRate} pizzas per day
